/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffbf00 rgba(182, 60, 60, 0.6);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgba(169, 170, 86, 0.6);
}

*::-webkit-scrollbar-thumb {
  background-color: #ffbf00;
  border-radius: 20px;
  border: 3px solid rgba(182, 60, 60, 0.6);
}
